<div class="off-canvas-wrap">
    <div class="inner-wrap">            
        <!-- TITLE BAR -->
        <header class="site-header  header  header-fixed-top">
            <div class="navbar" role="navigation">
                <div class="title-bar">
                    <!-- TITLE GROUP -->
                    <hgroup class="title-group  site-logo  js-nav-toggle">
                        <a href="{{ site.root }}flyout/index.html" title="Return to Homepage">
                            <h1>
                                <span class="accessibility">
                                    Cru is a caring community passionate about connecting people to Jesus Christ
                                </span>
                            </h1>
                        </a>
                    </hgroup>
                     <!-- END TITLE GROUP -->
             
               
                </div>


                
                {% include flyout-navigation.html %}